<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>skybase</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.skybase.framework.filter.CharactorFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<!-- true过滤，false不过滤 -->
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>ActionServlet</display-name>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>com.skybase.framework.servlet.ActionServlet</servlet-class>
		<init-param>
			<param-name>actionConfigFiles</param-name>
			<param-value>actions.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>返回值转换为json的Action处理器</description>
		<display-name>JsonInterruptorAction</display-name>
		<servlet-name>JsonInterruptorAction</servlet-name>
		<servlet-class>com.skybase.framework.servlet.JsonInterruptorAction</servlet-class>
		<init-param>
			<param-name>adapterConfigFiles</param-name>
			<param-value>adapters.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsonInterruptorAction</servlet-name>
		<url-pattern>*.jsonp</url-pattern>
	</servlet-mapping>
</web-app>